
.captionstyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: normal;
    color: black;
}

.site-heading-lower{
    color: goldenrod;
    font-weight: 2000;
}

.font-family{
    Sarif
}

.font-weight{
    font-weight: height: 10px;
}
